/******************************************
# RESET
/******************************************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;

  text-decoration: none;

  font-family: "Roboto", sans-serif;
}


/******************************************
# GENERAL
/******************************************/

.activeLink {
  font-weight: bold;
  color: blue;
}



/******************************************
# DEBUG
/******************************************/

.debug {
  padding: 1rem;
  background-color: aquamarine;
  border: 1px dashed gray;
}